/* color contrast changes for paragraphs*/
p {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.start {
    font-size: 30px;
    text-align: center;
   

}

/* Bullet Points & Numbered List*/
ul,ol{
    display: table;
    margin: 0 auto;
    color: aliceblue;

}
li{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 /* Info for my headers & background */
h2 {
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

body {
   
    background-color: rgb(46, 49, 51);
}

/* Added background image and fix margins/padding*/
header {
    background-image: url(images/water.jpg);
    height: 100px ;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    padding: 25px;
}

footer {
    background-image: url(images/water.jpg);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    height: 80px;
    padding: 1%;
}
/* Info for profile pic*/
img {
    width: 200px;
    object-position: center;
    border-radius: 5%;
    margin-left: 45%;
    margin-right: 45%;
}
/* Change margins*/
main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  
}

.about {
    margin-left: 5%;
    margin-right: 5%;
}
/* My main header and links*/
h1, nav {
    text-align: center;
    font-size: 25px;

}
/*update the colors for contrast*/
a:link{
    color: white;

}

a:visited {
    color:blueviolet;
}

a:hover {
    color: gray;
}

a:active {
    color: transparent;
}

h3 {
    font-size: 25px;
    text-align: center;

}

hr{
padding-top: 5px;
}

h1 {
    color: aliceblue;
}