p {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.start {
    font-size: 30px;
    text-align: center;
   

}

ul{
    display: table;
    margin: 0 auto;

}
li{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2 {
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
   
    background-color: rgb(46, 49, 51);
}

header {
    background-image: url(images/water.jpg);
    height: 100px ;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    padding: 25px;
}

footer {
    background-image: url(images/water.jpg);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    height: 80px;
    padding: 1%;
}

img {
    width: 200px;
    object-position: center;
    border-radius: 5%;
    margin-left: 45%;
    margin-right: 45%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  
}

.about {
    margin-left: 5%;
    margin-right: 5%;
}

h1, nav {
    text-align: center;

}

a:link{
    color: white;

}

a:visited {
    color:blueviolet;
}

a:hover {
    color: gray;
}

a:active {
    color: transparent;
}

h3 {
    font-size: 20px;
    text-align: center;

}

hr{
padding-top: 5px;
}